<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Spend 'N' Track</title>
</head>
<body>
    <header>
        <h1><em>Spend 'N' Track</em></h1>
        <nav>
            <ul>
                <li><a href="/"><button>Home</button></a></li>
                <li><a href="/transactions"><button>Transactions</button></a></li>
                <li><a href="/merchants"><button>Merchants</button></a></li>
                <li><a href="/tags"><button>Tags</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p><em>Spend 'N' Track</em> &copy; by David Strain</p>
    </footer>
</body>
</html>