<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spend 'N' Track</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><em>Spend 'N' Track</em></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/merchants">Merchants</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p><em>Spend 'N' Track</em> &copy; by David Strain</p>
    </footer>
</body>
</html>