{% extends 'base.html' %}

{% block content %}

    <header>
        <h2>{{ merchant.name }}</h2>
        <p>Street: {{ merchant.street }}</p>
        <p>City: {{ merchant.city }}</p>
        <form action="/merchants/{{ merchant.id }}/edit">
            <input type="submit" value="Edit">
        </form>
        <p><a href="/merchants">Back to full list of Merchants</a></p>
    </header>

{% if transactions|length > 0 %}

    <main>
        <header>
            <h3>Transactions & Total Spend</h3>
            <p>This is a list of transactions and total spend with <b>{{ merchant.name }}, {{ merchant.street }}</b>:</p>
        </header>
{% for transaction in transactions %}
    
        <main class="show_list">
            <h4><b>Date:</b> {{ transaction.date }}</h4>
            <p><b>Spend amount:</b> £{{ transaction.amount }}</p>
            <p><b>Tag:</b> {{ transaction.tag.name }}</p>
        </main>

{% endfor %}

    <h4>Total amount spent with {{ merchant.name }}, {{merchant.street}}: <u>£{{ total_amounts }}</u></h4>

{% else %}

    <h4>You have no transactions with this merchant yet.</h4>

    </main>

{% endif %}

{% endblock %}