{% extends 'base.html' %}

{% block content %}

        <header>
            <a href="/transactions/new"><button>Add a New Transaction</button></a>
            <h2>Transaction List:</h2>
        </header>

    {% for transaction in transactions %}

        <main class="index_list">
            <div>
                <h3>{{ transaction.merchant.name }}</h3>
                <h4><b>Date:</b> {{ transaction.date }}</h4>
                <p><b>Spend amount:</b> £{{ transaction.amount }}</p>
                <p><b>Tag:</b> {{ transaction.tag.name }}</p>
            </div>
            <div>
                <form action="/transactions/{{ transaction.id }}">
                    <input type="submit" value="Full details">
                </form>
                <form action="/transactions/{{ transaction.id }}/edit">
                    <input type="submit" value="Edit">
                </form>
            </div>
        </main>

    {% endfor %}   

        <footer>
            <h2>Total amount spent: <u>£{{ total_amounts }}</u></h2>
        </footer>

{% endblock %}