{% extends 'base.html' %}

{% block content %}

<a href="/transactions/new"><button>Add a New Transaction</button></a>

<h2>Transaction List:</h2>

{% for transaction in transactions %}

    <section>
        <h3>{{ transaction.merchant.name }}</h3>
        <h4><b>Date:</b> {{ transaction.date }}</h4>
        <p><b>Spend amount:</b> £{{ transaction.amount }}</p>
        <p><b>Tag:</b> {{ transaction.tag.name }}</p>
        <p><a href="/transactions/{{ transaction.id }}">Full details</a></section></p>
        <form action="/transactions/{{ transaction.id }}/edit">
            <input type="submit" value="Edit">
        </form>
    </section>

{% endfor %}

<h2>Total amount spent: <u>£{{ total_amounts }}</u></h2>

{% endblock %}