{% extends 'base.html' %}

{% block content %}

        <header>
            <a href="/transactions/new"><button>Add a New Transaction</button></a>
            <h2>Transaction List:</h2>
            <nav>
                <ul>
                    <li><a href="/transactions/merchant_a2z"><button>Sort by Merchant A-Z</button></a></li>
                    <li><a href="/transactions/merchant_z2a"><button>Sort by Merchant Z-A</button></a></li>
                    <li><a href="/transactions/tag_a2z"><button>Sort by Tag A-Z</button></a></li>
                    <li><a href="/transactions/tag_z2a"><button>Sort by Tag Z-A</button></a></li>
                </ul>
            </nav>
        </header>

    {% for transaction in transactions %}

        <main class="index_list">
            <div>
                <h3>{{ transaction.merchant.name }}</h3>
                <p><b>Date:</b> {{ transaction.date }}</p>
                <p><b>Spend amount:</b> £{{ transaction.amount }}</p>
                <p><b>Tag:</b> {{ transaction.tag.name }}</p>
            </div>
            <div>
                <form action="/transactions/{{ transaction.id }}">
                    <input type="submit" value="Full details">
                </form>
                <form action="/transactions/{{ transaction.id }}/edit">
                    <input type="submit" value="Edit">
                </form>
            </div>
        </main>

    {% endfor %}   

        <footer>
            <h2>Total amount spent: <u>£{{ total_amounts }}</u></h2>
        </footer>

{% endblock %}