{% extends 'base.html' %}

{% block content %}

<h2>Add a new Transaction</h2>

<form action="/transactions" method="POST">
    <div>
        <label for="merchant"><sup>*</sup>Select a merchant:</label><br>
        <select name="merchant_id" id="merchant" required>
            <option value="" selected disabled>- Select a merchant -</option>
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}">
                {{ merchant.name }}: {{ merchant.street}}
            </option>
            {% endfor %}
        </select><br><br>
    </div>
    <div>
        <label for="date"><sup>*</sup>Date of transaction:</label><br>
        <input type="date" name="date" id="date" required><br><br>
    </div>
    <div>
        <label for="amount"><sup>*</sup>Spend amount:</label><br>
        <input type="text" name="amount" id="amount" placeholder="£" required><br><br>
    </div>
    <div><label for="tag"><sup>*</sup>Select a tag for your transaction:</label><br>
        <select name="tag_id" id="tag" required>
            <option value="" selected disabled>- Select a tag -</option>
            {% for tag in tags%}
            <option value="{{ tag.id }}">
                {{ tag.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <p><sup>*</sup> Denotes a required field.</p>
    <input type="submit" value="Add Transaction">
</form>


{% endblock %}